/* 1안 - BEM(Block Element Modifier) 방식 */
/* 1안이 더 직관적이고 코드 작성이 간편할 것 같다. */
.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}

/* 2안 방식 */
#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
  /* transition: border-color 0.3s ease-in-out; */
  /* not을 사용하여 button에는 본 내용이 적용되지 않도록 하기 위해 주석 처리 */
  margin-bottom: 25px;
}

#login-form input:not([type="submit"]) {
  border-bottom: var(--main-border);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  /* text-decoration: none; */
  /* color: inherit; */
  /* reset.css에서 a에 대해 전체적으로 적용함 */
  font-size: 13px;
  outline: none;
  /* kmh_210321 */
}
